<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appmap.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E2403024E1FD1901E89491CE8B1394C36C24A047</string>
				<key>dateExpires</key>
				<string>11/10/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2403024E1FD1901E89491CE8B1394C36C24A047</string>
						<key>dateExpires</key>
						<string>11/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG26DP28D</string>
						<key>name</key>
						<string>CENTRO DE PROC DE DADOS DO ESTADO DE MATO GROSSO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2403024E1FD1901E89491CE8B1394C36C24A047</string>
						<key>dateExpires</key>
						<string>11/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG26DP28D</string>
						<key>name</key>
						<string>CENTRO DE PROC DE DADOS DO ESTADO DE MATO GROSSO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2403024E1FD1901E89491CE8B1394C36C24A047</string>
						<key>dateExpires</key>
						<string>11/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG26DP28D</string>
						<key>name</key>
						<string>CENTRO DE PROC DE DADOS DO ESTADO DE MATO GROSSO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8TG26DP28D.br.gov.mt.mti.appfiplan</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8TG26DP28D</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8d6fd36a-ff48-4392-8242-649274340825</string>
				<key>dateExpires</key>
				<string>08/08/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: br.gov.mt.mti.appfiplan</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8TG26DP28D</string>
				<key>name</key>
				<string>CENTRO DE PROC DE DADOS DO ESTADO DE MATO GROSSO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
