<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345771719803-9roa0e42ppssshepgr03tu9js15m92n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345771719803-9roa0e42ppssshepgr03tu9js15m92n6</string>
	<key>API_KEY</key>
	<string>AIzaSyCHkSlL3l366DIShSCwmZVBVYva6xkDhqg</string>
	<key>GCM_SENDER_ID</key>
	<string>345771719803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.gov.mt.mti.appfiplan</string>
	<key>PROJECT_ID</key>
	<string>appmap-397114</string>
	<key>STORAGE_BUCKET</key>
	<string>appmap-397114.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345771719803:ios:c636e0a4a02c33d88276de</string>
</dict>
</plist>